{% extends 'base.html' %} {% load staticfiles %} {% block content %}
{% load extrafuctions %}
<br>
<ul class="collapsible" data-collapsible="accordion">
    {% for post in posts %}
    <li>
        <div class="collapsible-header"><i class="material-icons">filter_drama</i>{{post.title}}</div>
        <div class="collapsible-body">
            <p>{{post.content|truncatechars:170}}<a href="{% url 'index:post' post.id %}">  Open post</a></p>
        </div>
    </li>
    {% empty %}
    <p>Add the first Post (You must be login)</p>
    {% endfor %}
</ul>
<br>
<form method="post" action="">
    {% csrf_token %}
    <h5 class="header" style="margin-left:20px;">New Post</h5>
      <div class="row">
    <div class="col s12">
        <div class="input-field col s6">
          <i class="material-icons prefix">label outline</i>
          <input id="icon_prefix" type="text" name='title' class="validate">
            <label for="icon_prefix">Title</label>
        </div>
    <div class="row">
    <div class="col s12">
      <div class="row">
        <div class="input-field col s12">
            <i class="material-icons prefix">description</i>
          <textarea id="textarea1" name='content' class="materialize-textarea"></textarea>
          <label for="textarea1">Content</label>
        </div>
      </div>
  </div>
</form>
        <input type="submit" style="margin-top:270px;padding-top: 7px;" class="waves-effect waves-light btn">
{% endblock %}
